# =============================================================================
# ░░░░ SETUP 
# =============================================================================

*
*/
.*



# =============================================================================
# ░░░░ DOTFILES 
# =============================================================================

!.github/
!.config/
!.config/nvim/
!.config/nvim/*.vim
!.config/nvim/colors/
!.config/nvim/colors/*.vim



# =============================================================================
# ░░░░ BINARY 
# =============================================================================

!bin/install
!bin/uninstall
!bin/backup

