# =============================================================================
# ░░░░ SETUP 
# =============================================================================

.*
*/
*.desktop



# =============================================================================
# ░░░░ DOTFILES 
# =============================================================================

!.github/
!.config/
!.config/nvim


# =============================================================================
# ░░░░ BINARY 
# =============================================================================

!bin/install
!bin/uninstall
!bin/backup

