[user]
	name = Adrian Miranda
	email = adriancmiranda@gmail.com

[github]
	user = adriancmiranda

[gitlab]
	user = adriancmiranda

[credential]
	helper = cache --timeout=3600

[core]
	pager = less
	editor = nvim
	ignorecase = false
	excludesfile = ~/.gitignore.global
	attributesfile = ~/.gitattributes.global

[alias]
	id = rev-parse HEAD

