# Diretório de projetos
SITES_DIR="~/Sites"

# Nome da Rede sem fio: 
WIRELESS_TITLE="Me"

# Senha da internet
WIRELESS_PASSWORD="*********"

# Senha da internet (visitante)
WIRELESS_GUEST_TITLE="Guest"

# Senha da internet (visitante)
WIRELESS_GUEST_PASSWORD="**********"

# Caminho na rede:
TIMECAPSULE_HOST="smb://000.00.000.000"

# Senha Estação Base (Segurança WPA2 Pessoal):
TIMECAPSULE_PASSWORD="***********"
